In [109]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder, OneHotEncoder
import pickle

In [110]:
#Loading the dataset
df = pd.read_csv('Churn_Modelling.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [111]:
#Data Preprocessing
df.drop(["RowNumber", "CustomerId", "Surname"],inplace=True, axis=1)

In [112]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [113]:
#Encode categorical variables
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])
ohe = OneHotEncoder()
ohe_transform= ohe.fit_transform(df[['Geography']])
ohe_transform

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [114]:
print(ohe.get_feature_names_out(['Geography']))

['Geography_France' 'Geography_Germany' 'Geography_Spain']

In [115]:
df_encoded = pd.DataFrame(ohe_transform.toarray(), columns=ohe.get_feature_names_out(['Geography']))

In [116]:
df_encoded

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [117]:
data = pd.concat([df.drop("Geography",axis=1),df_encoded], axis=1)

In [118]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [119]:
#pickle file
with open("label_encoder_pickle.pkl",'wb') as file:
    pickle.dump(le,file)
    
with open("ohe_pickle.pkl",'wb') as file:
    pickle.dump(ohe,file)

In [120]:
# dividing the dataset into dependant and independant features
X = data.drop('Exited',axis=1)
y = data['Exited']

#training test split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2,random_state=42)

#Scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [121]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [122]:
#Saving Pickle file of standard scaler here too

with open("Scaled_param.pkl",'wb') as file:
    pickle.dump(scaler,file)

In [123]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

ANN Implementation

In [124]:
%pip install tensorflow

import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

Requirement already satisfied: tensorflow in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (2.19.0)
Requirement already satisfied: absl-py>=1.0.0 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorflow) (2.2.2)
Requirement already satisfied: astunparse>=1.6.0 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorflow) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorflow) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorflow) (3.4.0)
Requirement already satisfied: packaging in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorflow) (24.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorflow) (5.29.4)
Requirement already satisfied: requests<3,>=2.21.0 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorflow) (2.32.3)
Requirement already satisfied: setuptools in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorflow) (80.8.0)
Requirement already satisfied: six>=1.12.0 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorflow) (3.1.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorflow) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorflow) (1.17.2)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorflow) (1.71.0)
Requirement already satisfied: tensorboard~=2.19.0 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorflow) (2.19.0)
Requirement already satisfied: keras>=3.5.0 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorflow) (3.10.0)
Requirement already satisfied: numpy<2.2.0,>=1.26.0 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorflow) (2.1.3)
Requirement already satisfied: h5py>=3.11.0 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorflow) (3.13.0)
Requirement already satisfied: ml-dtypes<1.0.0,>=0.5.1 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorflow) (0.5.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from astunparse>=1.6.0->tensorflow) (0.45.1)
Requirement already satisfied: rich in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from keras>=3.5.0->tensorflow) (14.0.0)
Requirement already satisfied: namex in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from keras>=3.5.0->tensorflow) (0.0.9)
Requirement already satisfied: optree in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from keras>=3.5.0->tensorflow) (0.15.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow) (2025.4.26)
Requirement already satisfied: markdown>=2.6.8 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorboard~=2.19.0->tensorflow) (3.8)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorboard~=2.19.0->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from tensorboard~=2.19.0->tensorflow) (3.0.4)
Requirement already satisfied: MarkupSafe>=2.1.1 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from werkzeug>=1.0.1->tensorboard~=2.19.0->tensorflow) (2.1.5)
Requirement already satisfied: markdown-it-py>=2.2.0 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from rich->keras>=3.5.0->tensorflow) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from rich->keras>=3.5.0->tensorflow) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in /Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.5.0->tensorflow) (0.1.2)

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [125]:
#Build our Model

model = Sequential(
    [
        Dense(64,activation = 'relu',input_shape=(X_train.shape[1],)),
        Dense(32,activation = 'relu'),
        Dense(1,activation = 'sigmoid')
    ]
)

/Users/navdeepsingh/VS Code/env/lib/python3.12/site-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [126]:
model.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [127]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy
loss

keras.src.losses.losses.BinaryCrossentropy

In [128]:
#compiling the model

model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [129]:
##Setup the tensorboard

from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
log_dir = 'logs/fit/'+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [130]:
#Setupping early stopping
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [131]:
#Training

history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs = 100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 922us/step - accuracy: 0.7951 - loss: 0.4915 - val_accuracy: 0.8300 - val_loss: 0.3946
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 536us/step - accuracy: 0.8370 - loss: 0.3884 - val_accuracy: 0.8510 - val_loss: 0.3540
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 531us/step - accuracy: 0.8503 - loss: 0.3566 - val_accuracy: 0.8545 - val_loss: 0.3475
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 524us/step - accuracy: 0.8545 - loss: 0.3475 - val_accuracy: 0.8580 - val_loss: 0.3427
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8627 - loss: 0.3249 - val_accuracy: 0.8575 - val_loss: 0.3433
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 586us/step - accuracy: 0.8592 - loss: 0.3362 - val_accuracy: 0.8590 - val_loss: 0.3414
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 539us/step - accuracy: 0.8640 - loss: 0.3327 - val_accuracy: 0.8630 - val_loss: 0.3397
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 548us/step - accuracy: 0.8632 - loss: 0.3370 - val_accuracy: 0.8605 - val_loss: 0.3397
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 582us/step - accuracy: 0.8708 - loss: 0.3150 - val_accuracy: 0.8615 - val_loss: 0.3423
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - accuracy: 0.8633 - loss: 0.3236 - val_accuracy: 0.8620 - val_loss: 0.3393
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 543us/step - accuracy: 0.8627 - loss: 0.3307 - val_accuracy: 0.8585 - val_loss: 0.3382
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 523us/step - accuracy: 0.8674 - loss: 0.3166 - val_accuracy: 0.8590 - val_loss: 0.3405
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 499us/step - accuracy: 0.8708 - loss: 0.3146 - val_accuracy: 0.8610 - val_loss: 0.3390
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 495us/step - accuracy: 0.8678 - loss: 0.3149 - val_accuracy: 0.8625 - val_loss: 0.3366
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 492us/step - accuracy: 0.8650 - loss: 0.3134 - val_accuracy: 0.8595 - val_loss: 0.3414
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 493us/step - accuracy: 0.8666 - loss: 0.3125 - val_accuracy: 0.8605 - val_loss: 0.3352
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 494us/step - accuracy: 0.8746 - loss: 0.3056 - val_accuracy: 0.8585 - val_loss: 0.3347
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.8766 - loss: 0.3107 - val_accuracy: 0.8550 - val_loss: 0.3411
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 502us/step - accuracy: 0.8757 - loss: 0.3011 - val_accuracy: 0.8620 - val_loss: 0.3429
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 526us/step - accuracy: 0.8686 - loss: 0.3076 - val_accuracy: 0.8585 - val_loss: 0.3410
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 533us/step - accuracy: 0.8703 - loss: 0.3070 - val_accuracy: 0.8575 - val_loss: 0.3381
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 546us/step - accuracy: 0.8689 - loss: 0.3070 - val_accuracy: 0.8605 - val_loss: 0.3410
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 506us/step - accuracy: 0.8749 - loss: 0.2947 - val_accuracy: 0.8675 - val_loss: 0.3415
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 496us/step - accuracy: 0.8711 - loss: 0.3045 - val_accuracy: 0.8615 - val_loss: 0.3410
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 493us/step - accuracy: 0.8772 - loss: 0.2971 - val_accuracy: 0.8575 - val_loss: 0.3406
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 491us/step - accuracy: 0.8724 - loss: 0.3055 - val_accuracy: 0.8580 - val_loss: 0.3452
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 494us/step - accuracy: 0.8722 - loss: 0.2974 - val_accuracy: 0.8630 - val_loss: 0.3420

In [132]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [133]:
#Loading the tensorboard extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [134]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 68343), started 6:45:57 ago. (Use '!kill 68343' to kill it.)

In [135]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}